<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>endings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h3 id="der">{{"page.endings.derTitle" | translate}}</h3>
  <table>
    <tbody>
      <tr>
        <th>{{"page.endings.nounEnding" | translate}}</th>
        <th>{{"page.endings.example" | translate}}</th>
      </tr>
      <tr>
        <td>– ant</td>
        <td>der Konson<mark>ant</mark> (the consonant)</td>
      </tr>
      <tr>
        <td>– ast</td>
        <td>der G<mark>ast</mark> (the guest)</td>
      </tr>
      <tr>
        <td>– ich</td>
        <td>der Tepp<mark>ich</mark> (the carpet)</td>
      </tr>
      <tr>
        <td>– ismus</td>
        <td>der Marx<mark>ismus</mark> (the Marxism)</td>
      </tr>
      <tr>
        <td>– ling</td>
        <td>der Häft<mark>ling</mark> (the prisoner)</td>
      </tr>
      <tr>
        <td>– us</td>
        <td>der Rhytm<mark>us</mark> (the rhythm)</td>
      </tr>
      <tr>
        <td>– er</td>
        <td>The majority of singular nouns ending in -er are masculine (but not all), so der Somm<mark>er</mark> (the
          summer), der Lehr<mark>er</mark> (the [male] teacher).</td>
      </tr>
    </tbody>
  </table>

  <br><br>

  <h3 id="die">{{"page.endings.dieTitle" | translate}}</h3>
  <table>
    <tbody>
      <tr>
        <th>{{"page.endings.nounEnding" | translate}}</th>
        <th>{{"page.endings.example" | translate}}</th>
      </tr>
      <tr>
        <td>– ung</td>
        <td>die Entscheid<mark>ung</mark> (the decision)</td>
      </tr>
      <tr>
        <td>– tät</td>
        <td>die Universi<mark>tät</mark> (the university)</td>
      </tr>
      <tr>
        <td>– tion / – sion</td>
        <td>die Explo<mark>sion</mark> (the explosion)</td>
      </tr>
      <tr>
        <td>– schaft</td>
        <td>die Gesell<mark>schaft</mark> (the society)</td>
      </tr>
      <tr>
        <td>– keit/ – heit</td>
        <td>die Schön<mark>heit</mark> (the beauty)</td>
      </tr>
      <tr>
        <td>– ie</td>
        <td>die Geograph<mark>ie</mark> (the geography)</td>
      </tr>
      <tr>
        <td>– enz / – anz</td>
        <td>die Toler<mark>anz</mark> (the tolerance)</td>
      </tr>
      <tr>
        <td>– ei</td>
        <td>die Schläger<mark>ei</mark> (the fight)</td>
      </tr>
      <tr>
        <td>– ur</td>
        <td>die Nat<mark>ur</mark> (the nature)</td>
      </tr>
      <tr>
        <td>– in</td>
        <td>die Boxer<mark>in</mark> (the [female] boxer)</td>
      </tr>
      <tr>
        <td>– e</td>
        <td>The large majority of nouns which end in -e are feminine (but not all), so die Lamp<mark>e</mark> (the
          lamp), die Red<mark>e</mark> (the speech), and die Bühn<mark>e</mark> (the stage).</td>
      </tr>
    </tbody>
  </table>

  <br><br>

  <h3 id="das">{{"page.endings.dasTitle" | translate}}</h3>
  <table>
    <tbody>
      <tr>
        <th>{{"page.endings.nounEnding" | translate}}</th>
        <th>{{"page.endings.example" | translate}}</th>
      </tr>
      <tr>
        <td>– chen</td>
        <td>das Häus<mark>chen</mark> (the little house)</td>
      </tr>
      <tr>
        <td>– lein</td>
        <td>das Büch<mark>lein</mark> (the booklet/little book)</td>
      </tr>
      <tr>
        <td>– um</td>
        <td>das Wachst<mark>um</mark> (the growth)</td>
      </tr>
    </tbody>
  </table>

  <br><br>
  <br><br>
  <br><br>

</ion-content>