table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 8px;
    border-style: hidden;
    box-shadow: inset 0 0 0 1px #ddd;
    display: table;
  }
  
  th, td {
    padding: 15px;
  }

  mark {
    background: none;
    color: var(--ion-color-primary);
  }