

* {
    @media (prefers-color-scheme: light) {
        .content {
            color: var(--ion-color-primary);
        }
    }
    @media (prefers-color-scheme: dark) {
        .content {
            color: white;
        }
    }
}

// ion-content {
//     --background:  var(--ion-color-primary-shade) !important;
//     --ion-background-color:  var(--ion-color-primary-shade) !important;
//     --ion-color-secondary-contrast:  var(--ion-color-primary-shade) !important;
// }


.stars {
    color:  var(--ion-color-primary);
    font-size: 2.8em;
    ion-icon:nth-child(2){
        font-size: 1.3em;
    }
}


