.card {
    text-align: center;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height: 12vh;
    .article {
        opacity: 0;
        position: absolute;
        top: 4px;
        left: 2px;
        transform: rotateZ(-45deg);
    }
    .word {
        top: 50%;
        position: absolute;
        width: 100%;
        transform: translateY(-50%);
    }
    .card-front {
        font-size: 4rem;
        line-height: 0em;
        top: 50%;
        position: absolute;
        width: 100%;
        transform: translateY(-50%);
    }
    .card-back {
        height: 100%;
        transform: rotateY(180deg);
        display: none;
        color: white;
        font-size: 1rem;
    }

    ion-card-header {
        top: 50%;
        bottom: 50%;
        transform: translateY(-50%);
    }
}